body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.chart{

}
.icon{
    width: 30%;
float: left;
font-size: 46px;
}
.icon i{
    padding-bottom: 26px;
    padding-left: 16px;
}
.usericon{
    width: 30%;
float: left;
font-size: 46px;
}
.usericon i{
padding-bottom: 19px;
padding-left: 30px;
padding-top: 16px;
}
.text{
    width: 70%;
float: left;
background: #D2D6DE;
}
.text h3{
    text-align: center;
}
.text h5{
    text-align:center;
}

